<a href="https://colab.research.google.com/github/Indhraneel14inks/my_projects/blob/master/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment

###Importing Libraries

In [1]:
import pandas as pd
import numpy as np

###Importing file with required columns

In [2]:
file = pd.read_csv("Goalies.csv", usecols=[i for i in range(0,14)])

In [3]:
#To get the first five rows of the data
file.head()

    playerID  year  stint tmID lgID    GP  ...     L  T/OL  ENG  SHO     GA      SA
0  abbotge01  1943      1  BOS  NHL   1.0  ...   1.0   0.0  NaN  0.0    7.0     NaN
1  abrahch01  1974      1  NEW  WHA  16.0  ...   6.0   1.0  0.0  1.0   47.0   504.0
2  abrahch01  1975      1  NEW  WHA  41.0  ...  18.0   2.0  1.0  2.0  136.0  1221.0
3  abrahch01  1976      1  NEW  WHA  45.0  ...  22.0   4.0  0.0  0.0  159.0  1438.0
4  adamsjo02  1972      1  BOS  NHL  14.0  ...   3.0   1.0  0.0  1.0   39.0     NaN

[5 rows x 14 columns]

In [4]:
# To get the metadata of the data
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4278 entries, 0 to 4277
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  4278 non-null   object
 1   year      4278 non-null   int64
 2   stint     4278 non-null   int64
 3   tmID      4278 non-null   object
 4   lgID      4278 non-null   object
 5   GP        4257 non-null   float64
 6   Min       4257 non-null   float64
 7   W         4257 non-null   float64
 8   L         4257 non-null   float64
 9   T/OL      4257 non-null   float64
 10  ENG       3533 non-null   float64
 11  SHO       4257 non-null   float64
 12  GA        4257 non-null   float64
 13  SA        2685 non-null   float64
dtypes: float64(9), int64(2), object(3)
memory usage: 468.0+ KB

In [5]:
file["tmID"].astype("str")

0       BOS
1       NEW
2       NEW
3       NEW
4       BOS
       ...
4273    PIT
4274    NYR
4275    EDM
4276    DOT
4277    HOU
Name: tmID, Length: 4278, dtype: object

In [6]:
#Datatype of the tmID column
type(file["tmID"][0])

str

In [7]:
#Aggregation of total no of wins
Wins_agg = file["W"].sum()/file["playerID"].nunique()

In [8]:
Wins_agg

59.506345177664976

In [9]:
#Aggregation of total no of Losses
Losses_agg = file["L"].sum()/file["playerID"].nunique()

In [10]:
Losses_agg

56.9505076142132

In [11]:
#Aggregation of total no of Games played
GP_agg = file["GP"].sum()/ file["playerID"].nunique()

In [12]:
GP_agg

143.4555837563452

In [13]:
#total minutes played / total goals against
Mins_over_GA_agg = file["Min"].sum()/ file["GA"].sum()

In [14]:
Mins_over_GA_agg

19.6711595602665

In [15]:
#total goals against / total shots against
GA_over_SA_agg = file["GA"].sum()/ file["SA"].sum()

In [16]:
GA_over_SA_agg

0.16480029928114737

In [17]:
#calculate the percentage of games won for each player, then take the mean at team level
avg_percentage_wins = file["W"].groupby(by = file["playerID"]).mean()

In [18]:
avg_percentage_wins.sort_values(ascending= False)

playerID
lundqhe01    36.000000
brodema01    34.526316
drydeke01    32.250000
durnabi01    29.714286
wardca01     29.285714
               ...
cowlewa01     0.000000
mcvicro01     0.000000
abbotge01     0.000000
allenbr01          NaN
coolega01          NaN
Name: W, Length: 788, dtype: float64

In [19]:
#calculate goals stopped per player, then take the player with the max goals
#stopped and put the details in the dictionary
file["SHO"].groupby(by = file["playerID"]).sum().sort_values(ascending = False)

playerID
brodema01    119.0
hainsge01    104.0
sawchte01    103.0
hallgl01      84.0
plantja01     83.0
             ...
littmda01      0.0
lorenda01      0.0
loustro01      0.0
lozinla01      0.0
abbotge01      0.0
Name: SHO, Length: 788, dtype: float64

In [20]:
most_goals_stopped = {'playerID': 'brodema01', 'goals_stopped': 119}

In [21]:
#calculate the goals stopped per minutes of play for each player, then take the
#player with the max efficiency just calculated and put the details in the dictionary
file["efficiency"] = file["SHO"]/file["Min"]

In [22]:
file.head()

    playerID  year  stint tmID lgID  ...  ENG  SHO     GA      SA  efficiency
0  abbotge01  1943      1  BOS  NHL  ...  NaN  0.0    7.0     NaN    0.000000
1  abrahch01  1974      1  NEW  WHA  ...  0.0  1.0   47.0   504.0    0.001149
2  abrahch01  1975      1  NEW  WHA  ...  1.0  2.0  136.0  1221.0    0.000839
3  abrahch01  1976      1  NEW  WHA  ...  0.0  0.0  159.0  1438.0    0.000000
4  adamsjo02  1972      1  BOS  NHL  ...  0.0  1.0   39.0     NaN    0.001282

[5 rows x 15 columns]

In [23]:
file["efficiency"].groupby(by = file["playerID"]).sum().sort_values(ascending = False)

playerID
hainsge01    0.038758
benedcl01    0.035943
plantja01    0.034723
sawchte01    0.034326
cudewi01     0.034293
               ...
littmda01    0.000000
lorenda01    0.000000
loustro01    0.000000
lozinla01    0.000000
abbotge01    0.000000
Name: efficiency, Length: 788, dtype: float64

In [24]:
most_efficient_player = {'playerID': 'hainsge01', 'efficiency': 0.038758}