In [56]:
import pandas as pd
import glob
import os

In [57]:
path = r'C:\\Users\\ishetty\\Documents'                 
all_files = glob.glob(os.path.join(path, "*.csv"))

In [54]:
pwd

'C:\\Users\\ishetty\\Documents'

In [58]:
all_files

['C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-02 (1).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-02.csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (1).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (2).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (3).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (4).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (5).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (6).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03 (7).csv',
 'C:\\\\Users\\\\ishetty\\\\Documents\\[NQ]_[DELOITTE]_Native_Hourly_Report_-_hourly-2020-12-03.csv']

In [63]:
no = 1
for file in all_files:
    locals()["hour"+str(no)] = pd.read_csv(file)
    no += 1

In [64]:
hour1

         Auditor Source             Queue       Type  Total
0    abanerjee03     CB   Trusted Premium  NATIVE_AD   7032
1    abanerjee03     CB  Moderate Risk CP  NATIVE_AD    100
2    abanerjee03     CB     Mod Risk EMEA  NATIVE_AD    450
3        abanu01     CB  Moderate Risk CP  NATIVE_AD    980
4        abanu01     CB     Mod Risk EMEA  NATIVE_AD   2529
..           ...    ...               ...        ...    ...
164     umuniram     CB  Moderate Risk CP  NATIVE_AD    100
165       vbegum     CB   Trusted Premium  NATIVE_AD   1498
166  vraghuvamsh     CB          Carousel  NATIVE_AD     70
167  vraghuvamsh     CB   Trusted Premium  NATIVE_AD     79
168  vshivakumar     CB  Moderate Risk CP  NATIVE_AD    700

[169 rows x 5 columns]

In [75]:
list1 = ["hour0","hour1","hour2","hour3","hour4","hour5","hour6","hour7","hour8","hour9"]

In [76]:
total = pd.concat([hour1,hour2,hour3,hour4,hour5,hour6,hour7,hour8,hour9,hour10],ignore_index= False, keys=list1, names=["Hours"])

In [77]:
total

               Auditor Source             Queue       Type  Total
Hours
hour0 0    abanerjee03     CB   Trusted Premium  NATIVE_AD   7032
      1    abanerjee03     CB  Moderate Risk CP  NATIVE_AD    100
      2    abanerjee03     CB     Mod Risk EMEA  NATIVE_AD    450
      3        abanu01     CB  Moderate Risk CP  NATIVE_AD    980
      4        abanu01     CB     Mod Risk EMEA  NATIVE_AD   2529
...                ...    ...               ...        ...    ...
hour9 175  vraghuvamsh     CB          Carousel  NATIVE_AD    260
      176  vraghuvamsh     CB   Trusted Premium  NATIVE_AD    569
      177  vraghuvamsh     CB      High Risk CP  NATIVE_AD     20
      178  vshivakumar     CB  Moderate Risk CP  NATIVE_AD    700
      179  vshivakumar     CB     Mod Risk EMEA  NATIVE_AD    350

[2009 rows x 5 columns]

In [78]:
total.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2009 entries, ('hour0', 0) to ('hour9', 179)
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Auditor  2009 non-null   object
 1   Source   2009 non-null   object
 2   Queue    2009 non-null   object
 3   Type     2009 non-null   object
 4   Total    2009 non-null   int64
dtypes: int64(1), object(4)
memory usage: 86.5+ KB

In [79]:
total.Auditor.nunique()

67

In [81]:
totals= total.groupby(by = ["Auditor","Hours"]).Total.sum().to_frame()

In [82]:
totals

                   Total
Auditor     Hours
abanerjee03 hour0   7582
            hour1   7582
            hour2   7582
            hour3   7582
            hour4   7582
...                  ...
vshivakumar hour5   1750
            hour6   2143
            hour7   2469
            hour8   2469
            hour9   1050

[660 rows x 1 columns]

In [84]:
final_count_report = totals.pivot_table(values= "Total", index = "Auditor", columns= "Hours", aggfunc= "sum")

In [86]:
final_count_report.fillna(value = 0, inplace= True)

In [89]:
pd.options.display.max_rows = 70

In [92]:
from datetime import date

In [94]:
today = date.today()

In [95]:
today

datetime.date(2020, 12, 8)

In [97]:
final_count_report.to_excel(f"Daily_count{today}.xlsx", index= True)